
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Select an action to perform
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a asp-controller="Admin" asp-action="ListUsers">List Users</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a asp-controller="Admin" asp-action="ListPosts">List Posts</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a asp-controller="Admin" asp-action="ListComments">List Comments</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>