@model SocialNetwork.Web.Models.PostViewModel
@using SocialNetwork.Models.Common.Enums
@{
    ViewData["Title"] = "EditPost";
}

<br />
<br />
<br />
<br />

<h1>Edit Post</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visibility" class="control-label"></label>
                @Html.DropDownListFor(p => p.Visibility, new SelectList(Enum.GetValues(typeof(Visibility))))
                <span asp-validation-for="Visibility" class="text-danger"></span>
                @*<input asp-for="Visibility" class="form-control" />*@
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

