@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Feed" asp-action="Search">
                <svg width="1em" height="1em" viewBox="0 0 15 15" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Feed" asp-action="NewsFeed">NewsFeed</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Profile" asp-action="FriendRequests">Friend Requests</a>
        </li>
        @*        <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>*@
        @*        <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link">Logout</button>
                </form>
            </li>*@

        <div class="nav-item btn-group">
            <li class="nav-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <a class="nav-link" asp-controller="NewsFeed" asp-action="Index">@User.Identity.Name </a>
            </li>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item nav-link text-black-50" asp-controller="Account" asp-action="Profile">Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item nav-link text-black-50" asp-area="Identity" asp-page="/Account/Manage/Index">Settings</a>
                <div class="dropdown-divider"></div>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button class="dropdown-item nav-link text-black-50" type="submit">Logout</button>
                </form>
            </div>
        </div>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
