<style>
    .newsbar:hover, nav.newsbar.expanded {
        width: 350px;
        overflow: visible;
        background: rgba(0, 0, 0, 0.7);
    }

    .newsbar {
        background: rgba(0, 0, 0, 0);
        @*border-right: 1px solid #e5e5e5;*@
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        left: 0;
        width: 30px;
        overflow: hidden;
        -webkit-transition: width .05s linear;
        transition: width .2s linear;
        -webkit-transform: translateZ(0) scale(1,1);
        z-index: 1000;
    }

        .newsbar .newsbar-text {
            position: relative;
            display: table-cell;
            vertical-align: middle;
            width: 190px;
            font-family: 'Titillium Web', sans-serif;
        }

    nav {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

        nav ul, nav li {
            outline: 0;
            margin: 0;
            padding: 0;
        }

        .newsbar li:hover > a, nav.newsbar li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
            color: #fff;
            background-color: #5fa2db;
        }
</style>

<nav class="newsbar">
    <ul>
        <li>
            <a href="http://justinfarrow.com">
                <span class="newsbar-text" style="color:pink">
                    
                </span>
            </a>
        </li>
    </ul>
    <ul class="logout">
    </ul>
</nav>