@model FriendViewModel

<div class="col-lg-12 col-xl-6">
    <div class="card">
        <div class="card-block post-timelines">
            <span class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip"></span>
            <div class="dropdown-menu dropdown-menu-right b-none services-list">
                <a class="dropdown-item" href="#">Remove tag</a>
                <a class="dropdown-item" href="#">Report Photo</a>
                <a class="dropdown-item" href="#">Hide From Timeline</a>
                <a class="dropdown-item" href="#">Blog User</a>
            </div>
            <div class="media bg-white d-flex">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object" width="120" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    </a>
                </div>
                <div class="media-body friend-elipsis">
                    <div class="f-15 f-bold m-b-5">Josephin Doe</div>
                    <div class="text-muted social-designation">Software Engineer</div>
                </div>
            </div>
        </div>
    </div>
</div>
























@*        <div class="col-lg-12 col-xl-6">
        <div class="card">
            <div class="card-block post-timelines">
                <span class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip"></span>
                <div class="dropdown-menu dropdown-menu-right b-none services-list">
                    <a class="dropdown-item" href="#">Remove tag</a>
                    <a class="dropdown-item" href="#">Report Photo</a>
                    <a class="dropdown-item" href="#">Hide From Timeline</a>
                    <a class="dropdown-item" href="#">Blog User</a>
                </div>
                <div class="media bg-white d-flex">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" width="120" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                        </a>
                    </div>
                    <div class="media-body friend-elipsis">
                        <div class="f-15 f-bold m-b-5">Josephin Doe</div>
                        <div class="text-muted social-designation">Software Engineer</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-xl-6">
        <div class="card">
            <div class="card-block post-timelines">
                <span class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip"></span>
                <div class="dropdown-menu dropdown-menu-right b-none services-list">
                    <a class="dropdown-item" href="#">Remove tag</a>
                    <a class="dropdown-item" href="#">Report Photo</a>
                    <a class="dropdown-item" href="#">Hide From Timeline</a>
                    <a class="dropdown-item" href="#">Blog User</a>
                </div>
                <div class="media bg-white d-flex">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" width="120" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                        </a>
                    </div>
                    <div class="media-body friend-elipsis">
                        <div class="f-15 f-bold m-b-5">Josephin Doe</div>
                        <div class="text-muted social-designation">Software Engineer</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-xl-6">
        <div class="card">
            <div class="card-block post-timelines">
                <span class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip"></span>
                <div class="dropdown-menu dropdown-menu-right b-none services-list">
                    <a class="dropdown-item" href="#">Remove tag</a>
                    <a class="dropdown-item" href="#">Report Photo</a>
                    <a class="dropdown-item" href="#">Hide From Timeline</a>
                    <a class="dropdown-item" href="#">Blog User</a>
                </div>
                <div class="media bg-white d-flex">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" width="120" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                        </a>
                    </div>
                    <div class="media-body friend-elipsis">
                        <div class="f-15 f-bold m-b-5">Josephin Doe</div>
                        <div class="text-muted social-designation">Software Engineer</div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@