@model ICollection<PostViewModel>

<div class="tab-pane" id="photos">
    <div class="card">

        <div class="card-block">
            <div class="demo-gallery">
                <ul id="profile-lightgallery" class="row">
                    <li class="col-md-4 col-lg-2 col-sm-6 col-xs-12">
                        <a href="#" data-toggle="lightbox" data-title="A random title" data-footer="A custom footer text">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid" alt="">
                        </a>
                    </li>
                    <li class="col-md-4 col-lg-2 col-sm-6 col-xs-12">
                        <a href="#" data-toggle="lightbox" data-title="A random title" data-footer="A custom footer text">
                            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-fluid" alt="">
                        </a>
                    </li>
                    <li class="col-md-4 col-lg-2 col-sm-6 col-xs-12">
                        <a href="#" data-toggle="lightbox" data-title="A random title" data-footer="A custom footer text">
                            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-fluid" alt="">
                        </a>
                    </li>
                    <li class="col-md-4 col-lg-2 col-sm-6 col-xs-12">
                        <a href="#" data-toggle="lightbox" data-title="A random title" data-footer="A custom footer text">
                            <img src="https://bootdey.com/img/Content/avatar/avatar4.png" class="img-fluid" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>