@model UserViewModel
@inject UserManager<User> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="content social-timeline">
                <div class="">

                    <!-- Cover photo-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="social-wallpaper">
                                @*                                <div class="profile-hvr">
                                                                    <img class="img-fluid width-100" src="https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2017/08/nature-design.jpg"/>
                                    src="https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2017/08/nature-design.jpg" alt=""
                                                                    <i class="icofont icofont-ui-edit p-r-10"></i>
                                                                    <i class="icofont icofont-ui-delete"></i>
                                                                </div>*@
                            </div>
                            <div class="timeline-btn">
                                @*<a href="#" class="btn btn-primary waves-effect waves-light m-r-10">follows</a>*@
                                <a href="#" class="btn btn-primary waves-effect waves-light">Send Message</a>
                                @* <a class="btn btn-primary waves-effect waves-light" asp-controller="Post" asp-action="Create">Create post</a>*@
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-xs-12">
                            <!-- Left section -->
                            <div class="social-timeline-left">
                                <!-- Profile Card -->
                                <div class="card">
                                    <!-- Profile Photo -->
                                    <div class="social-profile">
                                        <img class="img-fluid width-100" src="@Model.ProfilePictureUrl" alt="">
                                        <div class="profile-hvr m-t-15">
                                            <i class="icofont icofont-ui-edit p-r-10"></i>
                                            <i class="icofont icofont-ui-delete"></i>
                                        </div>
                                    </div>
                                    <!-- Profile info -->
                                    <div class="card-block social-follower">
                                        <h4>@Model.DisplayName</h4>
                                        <h5>@Model.Education</h5>
                                        <div class="row follower-counter">
                                            <!-- Profile Icons -->
                                            <div class="col-4">
                                                <button class="btn btn-primary btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="485">
                                                    <i class="fa fa-user"></i>
                                                </button>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-danger btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="2k">
                                                    <i class="fa fa-thumbs-o-up"></i>
                                                </button>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-success btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="90">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="">
                                            @if(!Model.Friends.Any(f => f.UserFriendId == user.Id))
                                            {
                                                <button type="button" class="btn btn-outline-primary waves-effect btn-block" onclick="addFriend(id)">
                                                    <i class="icofont icofont-ui-user m-r-10"></i>Add Friend
                                                </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline-primary waves-effect btn-block" onclick="">4
                                                    <i class="icofont icofont-ui-user m-r-10"></i>Remove Friend
                                                </button>
                                            }
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Profile Tabs-->
                        <partial name="_ProfileTabsPartial" model="Model" />
                        @*CREATE POST SECTION!   https://www.bootdey.com/bootstrap-snippets?utf8=%E2%9C%93&q=search*@

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>