/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url(classy-nav.css);
@import url(user-profile.css);
@import url(login-register.css);
/*@import url(one-page-wonder.css);*/


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /*background-color: rgba(7,3,27, 1);*/
    Margin bottom by footer height margin-bottom: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    z-index: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    Vertically center the text there
}

.picture-in-frame {
    max-width: 100%;
    max-height: 100%;
}

.picture-frame-120 {
    height: 120px;
    width: 120px;
}

.picture-frame-black {
    text-align: center;
    background-color: black;
}

/* Button
-------------------------------------------------- */
/*.alime-btn {
    position: relative;
    z-index: 1;
    min-width: 160px;
    height: 46px;
    line-height: 42px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding: 0 30px;
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(0,123,255, 0.2);
    120, 150*@ background-color: rgb(0, 140, 255);*/
/*    @*background-color: rgb(0, 150, 255);
    120, 150*@ background-color: rgb(0, 140, 255);*/
/*color: #ffffff;
    border: 2px solid rgb(0, 140, 255);
    border-radius: 60px;
    -webkit-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 100ms;
}

    .alime-btn.btn-2 {
        color: #252525;
    }

    .alime-btn:focus, .alime-btn:hover {
        font-weight: 500;
        -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
        box-shadow: 0 2px 25px 6px rgba(15, 15, 15, 0.15);
        background-color: rgb(0, 90, 255);
        color: #ffffff;
    }*/
.alime-btn {
    position: relative;
    z-index: 1;
    min-width: 160px;
    height: 46px;
    line-height: 42px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding: 0 30px;
    text-align: center;
    text-transform: capitalize;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #fc6060;
    border-radius: 60px;
    -webkit-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
}

.alime-btn.btn-2 {
    color: #252525;
}

.alime-btn:focus, .alime-btn:hover {
    font-weight: 500;
    -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
    box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
    background-color: #fc6060;
    color: #ffffff;
}


/* Custom styles
-------------------------------------------------- */
.mt-10 {
    margin-top: 100px;
}

#particles-js {
    height: 100vh;
    background:
    /* top, transparent black, faked with gradient */
    linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8) ), url("../img/bg-purpleplanets.jpg");
    background-size: cover;
}

